@model IEnumerable<CategoriaModel>
@{
    ViewBag.Subtitulo = "Listagem de Categorias";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Nova Categoria</a>
    </div>
</header>
<hr>

<partial name="_Mensagem"></partial>

@if (Model.Count() > 0)
{
    <table class="table table-striped tabela-categorias">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.IdCategoria</td>
                    <td>@categoria.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma categoria cadastrada.</p>
}